name: bioimg-slice0
channels:
  - conda-forge
  - defaults
dependencies:
  - pip
  - pyyaml
  - scikit-image
  - matplotlib
  - ipykernel
  - numpy
  - jupytext
  - pytest
  - jupyterlab
  - pyarrow
  - tifffile
  - python=3.11
  - pandas
  - spyder